- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .container-alt
    .logo-container
      %h1
        = link_to root_path, class: 'brand' do
          = site_title

    - if @instance_presenter
      .form-container
        .hero-widget__text
          = @instance_presenter.site_description.html_safe.presence || t('about.about_mastodon_html')
          = link_to about_more_path do
            = t('about.learn_more')
            = fa_icon 'angle-double-right'

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
